@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
    @apply text-3xl font-bold text-white mt-2 mb-2 text-center;
}

.subtitulo {
    @apply text-xl font-bold text-white mt-0 mb-2;
}

.reserv {
    @apply flex flex-col items-center mb-5 border border-black p-4 shadow;
}

#rooms {
    @apply flex gap-2;
}

/* CSS para la descripción */
.card-body {
    position: relative;
    overflow: hidden;
}

.description:hover {
    opacity: 1;
}


